//Begin Site Variables
$bgColor: rgb(241, 241, 233);

$siteMaxWidth: 1000px;

$siteFontStack: "Helvetica Neue", "Helvetica", arial, sans-serif;

$siteBorderColor: #dcdcd1;
//End SiteVariables

//Begin Header Variables
$headerTextColor: rgb(100, 130, 147);
//End Header Variables

//Begin Nav Variables
$navTextColor: rgb(100, 130, 147);

$navHoverBorderColor: rgb(217, 77, 74);
//End Nav Variables

//Begin Lightbox Variables
$lightboxOverlayColor: rgba(0, 0, 0, 0.5);

$lightboxBgColor: #fff;
$lightboxTextColor: #000;

$lightboxXBgColor: #000;
$lightboxXTextColor: #fff;
//End Lightbox Variables

//Begin Footer Variables
$copyrightTextColor: #000;
//End Footer Variables